@import "tailwindcss";

@font-face {
  font-family: 'Orbitron';
  src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'ZalandoSans';
  src: url(./fonts/ZalandoSansExpanded-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Geom';
  src: url(./fonts/Geom-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Oxanium';
  src: url('./fonts/Oxanium-VariableFont_wght.ttf');
}

:root {
  /*Colores*/
  --color-primary: #818CF8; 
  --color-bg-main: #0F172A; 
  --color-bg-card: #1E293B; 
  --color-text-main: #E2E8F0;

  /*Fuentes*/
  --titles-font: 'Geom';
  --texts-font: 'ZalandoSans';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
   background: linear-gradient(#28542b, black);
}

@media (min-width: 600px){
 nav {
  font-family: 'Oxanium';
  color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0.5px solid rgb(66, 66, 66) ;
  background-color: rgb(163, 163, 163, 0.2);
  box-shadow: 1px 1px 10px black;
 }
}

.menu-options a:hover {
  color: yellow;
}

#close-menu {
  color: white;
}

#close-menu:hover {
  color : white
}

#burguir span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-text-main);
}

.hero-img {
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 1rem greenyellow; 
}

.titleandname {
  font-family: var(--texts-font);
}

#web-dev {
  font-family: 'Oxanium';
}

.titleandname h1 {
  font-weight: 800;
  color: #a8f7bd;
}


.professional h3 {
  font-family: var(--texts-font);
  color: var(--color-text-main);
}

h4 {
  font-family: var(--titles-font);
  font-weight:600;
  color: black;
  text-align: center;
  width: fit-content;
  align-self: center;
  padding: 10px;
}


p {
    font-family: var(--titles-font);
}

.technologies div {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--texts-font);
  font-weight:600;
  color: black;
  align-items: center;
}

.technologies div:last-child{
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 1440px) {

  .technologies div {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-family: var(--texts-font);
  font-size: 36px;
  font-weight:600;
  color: black;
  align-items: center;
  }

  .projects div article img {
    width: 350px;
    height: 313px;
  }

 .projects h5 {
  font-size: 40px;
  }
  .projects p {
    font-size: 24px;
    width: 320px;
  }
}

span {
  cursor: pointer;
}

.technologies span:hover {
  color: #00e20f ;
}


.technologies div:hover {
  background-color: #3d6b5a;
}

.projects h5 {
  font-family: var(--texts-font);
  font-weight:600;
  color: black;
}

.projects h5:hover {
  color: #00e20f;
}


article img {
  border-radius: 10px;
  box-shadow: 10px 10px black;
}


#about-me-text article {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

article div {
  display: flex;
  align-items: center;
}

#about-me-text article p {
  color: black;
}


.contacto ul {
   font-family: var(--titles-font);
  color: black;
  font-size: 20px;
  text-align: center;
}

.contacto h4 {
  background-color: rgba(0, 0, 0, 0);
  padding: 0%;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
}

footer h4 {
  color: black;
}